iframe.openlike {
	border: none;
	width: 100%;
	height: 35px;
	margin-bottom: 5px;
}

/* digg */
.news-details iframe.openlike {
	width: 300px;
	float: left;
}

.news-details .tool {
	padding-top: 9px;
}

/* techcrunch */
.post_subheader.snap_nopreview {
	height: 30px;
}

/* rt */
.share_social_media iframe.openlike {
	position: relative;
	top: -9px;
}