#openlike-widget {
	font-family: "Lucida Grande", Calibri, Arial, sans-serif;
}
	
	#openlike-widget a {
		display: none;
	}
	
		#openlike-widget a.enabled {
			display: block;
		}
	
#openlike-edit {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: 1px solid #000;
}

	#openlike-edit a {
		opacity: .2;
	}	
	
		#openlike-edit a.enabled {
			opacity: 1;
		}