body, html {
	margin: 0;
	padding: 0;
}

	body {
		padding: 5px 10px;
		background: #fff9aa;
	}
	
#openlike-edit-btn {
	float: right;
	font-size: 11px;
	color: #0044cc;
	line-height: 25px;
	cursor: pointer;
	font-weight: normal;
}

#openlike-widget {
	font-family: arial;
	font-size: 13px;
}

	#openlike-widget p,
	#openlike-widget ul {
		float: left;
		line-height: 25px;
		margin: 0 5px 0 0 !important;
	}
		
		#openlike-widget ul li {
			padding: 0 !important;
			margin: 0 !important;
		}
		
			#openlike-widget ul li a {
				opacity: .2;
				display: none;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
			
			#openlike-widget ul li a.openlike-blockbuster {
				background-image: url(http://imgur.com/AfSx1.png);
			}
			
			#openlike-widget ul li a.openlike-netflix {
				background-image: url(http://imgur.com/qBjfx.png);
			}
			
			#openlike-widget ul li a.openlike-yahoo {
				background-image: url(http://imgur.com/tqvui.png);
			}
		
			#openlike-widget ul li a.enabled {
				opacity: 1;
				margin-right: 5px !important;
				display: block;
			}
			
			#openlike-widget.edit ul li a {
				display: block;
				margin-right: 5px !important;
			}