#openlike-save-btn {
	color: #999999;
	text-shadow: 1px 1px #eeeeee;
	cursor: pointer;
	font-weight: normal;
	text-transform: capitalize;
	background-color: #dddddd;
	padding: 10px;
	margin: 24px 0 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	clear: left;
	float: left;
}

#openlike-save-btn.enabled {
	color: #333333;
}

#openlike-edit-btn {
	line-height: 25px;
	float: left;
	color: #0044cc;
	text-decoration: none;
	font-size: 11px;
}

.openlike {
	font-family: arial;
	font-size: 13px;
}

	.openlike p,
	.openlike ul {
		float: left;
		line-height: 25px;
		margin: 0 5px 0 0 !important;
		padding: 0;
	}
		
		.openlike ul li {
			padding: 0 !important;
			margin: 0 5px 0 0 !important;
			float: left;
			opacity: 0.2;
			display: none;
		}
		
		.openlike ul li.enabled {
			opacity: 1;
			display: block;
		}
		
		.openlike.edit ul li {
			display: block;
		}
		
			.openlike ul li a {
				display: block;
				height: 25px;
				width: 25px;
				margin: 0 !important;
				padding: 0 !important;
				overflow: hidden;
				text-indent: -9999em;
				background: transparent url(sprite.png) scroll no-repeat;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
			
			.openlike ul li a.openlike-blockbuster {
				background-image: url(http://imgur.com/AfSx1.png);
			}
			
			.openlike ul li a.openlike-yahoo {
				background-image: url(http://imgur.com/tqvui.png);
			}

			.openlike ul li a.openlike-facebook {
				width: 53px;
			}

.openlike ul li a.openlike-hunch { background-position: 0 0; }
.openlike ul li a.openlike-stumbleupon { background-position: -25px 0; }
.openlike ul li a.openlike-reddit { background-position: -50px 0; }
.openlike ul li a.openlike-digg { background-position: -75px 0; }
.openlike ul li a.openlike-google { background-position: -100px 0; }
.openlike ul li a.openlike-twitter { background-position: -125px 0; }
.openlike ul li a.openlike-goodreads { background-position: -175px 0; }
.openlike ul li a.openlike-netflix { background-position: -200px 0; }
.openlike ul li a.openlike-amazon { background-position: -225px 0; }
.openlike ul li a.openlike-librarything { background-position: -250px 0; }
.openlike ul li a.openlike-shelfari { background-position: -275px 0; }
.openlike ul li a.openlike-lastfm { background-position: -300px 0; }
.openlike ul li a.openlike-pandora { background-position: -325px 0; }
.openlike ul li a.openlike-gamespot { background-position: -350px 0; }
.openlike ul li a.openlike-imdb { background-position: -375px 0; }
.openlike ul li a.openlike-flixster { background-position: -400px 0; }
.openlike ul li a.openlike-getglue { background-position: -425px 0; }
.openlike ul li a.openlike-weread { background-position: -450px 0; }
.openlike ul li a.openlike-myspace { background-position: -475px 0; }
.openlike ul li a.openlike-facebook { background-position: -500px 0; }

/* digg */
.news-details iframe.openlike {
width: 300px;
float: left;
}

.news-details .tool {
padding-top: 9px;
}

/* techcrunch */
.post_subheader.snap_nopreview {
height: 30px;
}

/* rt */
.share_social_media iframe.openlike {
position: relative;
top: -6px;
}